<div class="col-lg-4">
          <div class="modal fade" id="myPlus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">                                                                        <!-- 网站推荐对话框 -->
            <div class="modal-dialog">
              <div class="modal-content">
                 <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                       <h4 class="modal-title" id="myModalLabel">网站推荐</h4>
                 </div>
                 <div class="modal-body">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">网站名称</span>
                                <input type="text" class="form-control" placeholder="Name">
                            </div>    
                            <div class="input-group input-group-lg">    
                                <span class="input-group-addon">网站链接</span>
                                <input type="text" class="form-control" placeholder="URL">
                            </div>    
                            <div class="input-group input-group-lg">    
                                <span class="input-group-addon">网站简介</span>
                                <input type="text" class="form-control" placeholder="Brief introduction">
                            </div>
                            <div class="input-group input-group-lg">
                            <span class="input-group-addon">网站分类</span>
                            <span class="input-group-btn">
                            <select class="btn btn-default dropdown-toggle">
                               <option value="0">创新类</option>
                               <option value="1">读书音乐视频类</option>
                               <option value="2">工具类</option>
                               <option value="3">工作类</option>
                               <option value="4">功能类</option>
                               <option value="5">购物类</option>
                               <option value="6">生活类</option>
                               <option value="7">投资类</option>
                               <option value="8">学习类</option>
                               <option value="9">娱乐类</option>
                            </select>
                            </span>
                            <span class="input-group-btn">
                            <select class="btn btn-default dropdown-toggle">
                               <option value="0">Baidu Search</option>
                               <option value="1">Google Search</option>
                               <option value="2">Naspol Search</option>
                               <option value="3">All Search</option>
                            </select>
                            </span>
                            </div>
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-default">提交</button>
                     <button type="button" class="btn btn-primary"  data-dismiss="modal">取消</button>
                </div>
               </div>
             </div>
          </div>
          </div>
          <div class="col-lg-8">
                 <p>
                    <img class="share-item" src="image/qq.png">
                    <img class="share-item" src="image/weibo.png">
                    <img class="share-item" src="image/favorite.png">
                    <img class="share-item" src="image/others.png">
                 </p>
          </div>